<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <div class="col-md-12">
        <div class="col-md-6 ">
            <div class="col-md-12 form-group">
                  <label>Ville de chargement</label>
                  <input type="text" class="form-control collectes-ville text-center" name="villeChargement" placeholder="Chargement">
            </div>
            <div class="col-md-12 form-group">
                  <label>Ville de livraison</label>
                  <input type="text" class="form-control collectes-ville text-center" name="villeLivraison" placeholder="Livraison" value="">
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="col-md-12 form-group">
              <label>Chargement mini</label>
              <input type="text" id="datepicker" class="form-control collectes-date-chargement-min text-center" name="DebutChargement" placeholder="Date dĆ©but chargement" value="">
            </div>
            <div class="col-md-12 form-group">
              <label><-></label>
              <input type="text" id="datepicker2" class="form-control collectes-date-chargement-min text-center" name="FinChargement" placeholder="Date fin chargement" value=""> 
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </html>